extends layout

block content
  h1= title
  p Welcome to #{title}
  //img(src=image)
  - var val = 0
  p Welcome to '#{argc}'
  - var max = parseInt( argc, 10);
  p= max
  p #{argv}
  while val < max
    if val < 10
      img(src='0' + val++ + '.jpeg')
    else
      img(src=val++ + '.jpeg')
