extends layout

block content
  h1= title
  p Welcome to #{title}
  //img(src=image)
  - var val = 0
  p Welcome to '#{argc}'
  - var max = parseInt( argc, 10);
  p= max
  while val < max
    p #{argv}
    if val < 10
      - val++;
      //img(src='0' + val++ + '.jpg')
    else
      - val++;
      //img(src=val++ + '.jpg')
